name: Update changelog

on:
  pull_request:
    types:
      - closed
    branches:
      - develop

permissions:
  contents: write
  pull-requests: write

jobs:
  update-changelog:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v6
      with:
        ref: 'develop'

    - name: Extract Module Updates from PR Description
      id: extract_updates
      run: |
        #!/bin/bash

        # Extract the pull request body
        PR_BODY=$(jq -r .pull_request.body < "$GITHUB_EVENT_PATH")

        # Initialize variables
        PATCH_MODULES=()
        MINOR_MODULES=()
        MAJOR_MODULES=()

        # Check for module updates
        while read -r line; do
          case $line in
            *"tree"* )
              MODULE_NAME="tree"
              ;;
            *"database"* )
              MODULE_NAME="database"
              ;;
            *"visualizer"* )
              MODULE_NAME="visualizer"
              ;;
            *"general_libraries"* )
              MODULE_NAME="general_libraries"
              ;;
            *"experiments"* )
              MODULE_NAME="experiments"
              ;;
            *"- [x] Patch update(s)"* )
              PATCH_MODULES+=($MODULE_NAME)
              ;;
            *"- [x] Minor update(s)"* )
              MINOR_MODULES+=($MODULE_NAME)
              ;;
            *"- [x] Major update(s)"* )
              MAJOR_MODULES+=($MODULE_NAME)
              ;;
          esac
        done <<< "$PR_BODY"

        # Save the modules to GitHub environment
        echo "PATCH_MODULES=${PATCH_MODULES[@]}" >> $GITHUB_ENV
        echo "MINOR_MODULES=${MINOR_MODULES[@]}" >> $GITHUB_ENV
        echo "MAJOR_MODULES=${MAJOR_MODULES[@]}" >> $GITHUB_ENV

    - name: Print Extracted Modules
      run: |
        echo "Patch Modules: ${{ env.PATCH_MODULES }}"
        echo "Minor Modules: ${{ env.MINOR_MODULES }}"
        echo "Major Modules: ${{ env.MAJOR_MODULES }}"

    - name: Determine Overall Update Level
      id: update_level
      run: |
        if [ -n "${{ env.MAJOR_MODULES }}" ]; then
          echo "UPDATE_LEVEL=major" >> $GITHUB_ENV
        elif [ -n "${{ env.MINOR_MODULES }}" ]; then
          echo "UPDATE_LEVEL=minor" >> $GITHUB_ENV
        else
          echo "UPDATE_LEVEL=patch" >> $GITHUB_ENV
        fi

    - name: Check PR Description
      id: description-checker
      uses: jadrol/pr-description-checker-action@v1.0.0
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        exempt-labels: no qa

    - name: Update Changelog
      run: |
        PR_ID=${{ github.event.pull_request.number }}
        UPDATE_LEVEL="${{ env.UPDATE_LEVEL }}"
        PR_DESCRIPTION=$(jq -r '.pull_request.body' "$GITHUB_EVENT_PATH" | awk '/^## Description/,/-->/{flag=1; next} /^## / && flag{flag=0} flag')
        PR_CHANGELOG=$(jq -r '.pull_request.body' "$GITHUB_EVENT_PATH" | awk '/## Changelog Information/,/-->/ {found = 1; next} found')
    
        echo "PR_ID=${PR_ID}"
        echo "UPDATE_LEVEL=${UPDATE_LEVEL}"
        echo "PR_DESCRIPTION=${PR_DESCRIPTION}"
        echo "PR_CHANGELOG=${PR_CHANGELOG}"
        
        # Create a new section in CHANGELOG.md if no previous unreleased section exists
        sed -i '0,/^## /{/^## Unreleased/!s/^## /## Unreleased\n\n&/}' CHANGELOG.md
    
        # Insert entry into CHANGELOG.md under Unreleased section
        echo -e "\n### [PR ${PR_ID}](https://github.com/heiafr-isc/Data-Cockpit/pull/${PR_ID})\n${UPDATE_LEVEL}: ${PR_DESCRIPTION}\n${PR_CHANGELOG}" | sed -i '/## Unreleased/r /dev/stdin' CHANGELOG.md

    - name: Configure Git
      run: |
        git config --local user.name "github-actions[bot]"
        git config --local user.email "13170944+GuibertLo@users.noreply.github.com"

    - name: Commit & Push
      run: |
        if [[ -n "$(git status --porcelain)" ]]; then
          git add .
          git commit -m "github-actions[bot]: updating the changelog, automation of a post-merge into develop"
          git push origin HEAD:develop
        else
          echo "No changes to commit"
        fi
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}